.box {
    width: 310px;
    height: 85px;
    background-color: black;
    color: black;
}
.title {
    font-family: Arial;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.description {
    font-family: Arial;
    color: grey;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 10px;
}